{:tdb-dir "./data/tdb"
 :lucene-dir "./data/lucene"
 :port 9090
 :ontology-dir "./data/ont"
 :ontologies 
 {"http://purl.obolibrary.org/obo/doid.owl" "doid.owl"
  "http://www.w3.org/2004/02/skos/core" "skos.rdf"}
 :labels ["http://www.w3.org/2000/01/rdf-schema#label"
          "http://www.w3.org/2004/02/skos/core#prefLabel"
          "http://www.w3.org/2004/02/skos/core#altLabel"]}
